<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro</title>
    <!-- fuentes de google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/140d5acfa8.js" crossorigin="anonymous"></script>
    <!-- Estilos Normalize y custom -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class="main-header">        
        <div class="main-header-top-bar">
            <img class="logo" src="images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <!-- <div>
            <input type="search" value="Buscar productos, marcas" name="sBuscar" id="buscaProd">
        </div>
        <div class="btn-buscar">
            <button><i class="fas fa-search"></i></button>            
        </div> -->
        <!-- <div class="navbar-menup"> -->
            <a href="#" class="hamburger-button">
                <i class="fas fa-bars"></i>
            </a>
            <nav class="main-nav-bar">
                <ul class="left-navbar">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="right-navbar">    
                    <li><a href="/register">Crea tu cuenta</a> <i class="fas fa-credit-card"></i></li>
                    <li><a href="/login">Ingresa</a> <i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="#">Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
                </ul>
            </nav>
        <!-- </div> -->
        
        <!-- <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div> -->
        
    </header>
    <!-- Formulario inicio -->
    <div class="form-regi">    
        <form action="/home.html" method="POST" class="create-form">
            <div class="control-formulario">
                <label for="nombre-ape-user">Nombre y Apellido</label>
                <input type="text" name="nombre-ape-user" id="nombre-ape-user" class="control" required>
            </div>
            <div class="control-formulario">
                <label for="email-user">Email</label>
                <input type="email" name="email-user" id="email-user" class="control" required>
            </div>
            <div class="control-formulario">
                <label for="fecha-nac-user">Fecha de Nacimiento</label>
                <input type="date" name="fecha-nac-user" 
                id="fecha-nac-user" class="control">
            </div>
            <div class="control-formulario">
                <label for="compra-vende">Pérfil de usuario</label>
                <input type="radio" name="compra-vende" id="compra" value="comprar">
                <span>Comprar</span>
                <input type="radio" name="compra-vende" id="vende" value="vender">
                <span>Vender</span>
            </div>
            <div class="control-formulario">
                <label for="cat-interes">Categorías de interés</label>
                <input type="checkbox" name="cat-interes" value="electro">
                <span>Electro</span>
                <input type="checkbox" name="cat-interes" value="moda">
                <span>Moda</span>
                <input type="checkbox" name="cat-interes" value="Hogar">
                <span>Hogar</span>
                <input type="checkbox" name="cat-interes" value="jugueteria">
                <span>Juguetería</span>
                <input type="checkbox" name="cat-interes" value="vidasana">
                <span>Vida Sana</span>
            </div>
            <div class="control-formulario">
                <label for="foto-user">Foto usuario</label>
                <input type="file" name="foto-user" id="foto-user" class="control" accept="image/jpeg, image/jpg, image/png">
            </div>
            <div class="control-formulario">
                <label for="pass-user">Contraseña</label>
                <input type="password" name="pass-user" id="pass-user" class="control" required>
            </div>
            <div class="control-formulario">
                <label for="confirm-pass-user">Confirmar contraseña</label>
                <input type="password" name="confirm-pass-user" id="confirm-pass-user" class="control" required>
            </div>
            <div class="control-formulario">                
                <button type="submit" class="button-form">Enviar</button>
                <button type="reset" class="button-form">Borrar</button>
            </div>
        </form>
    </div>
        <!-- formulario fin -->
     
    <!-- <footer>
        <section>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer> -->
</body>
</html>