body{
    margin: 0;
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.btn-buscar {
    /* margin-top: 3px;
    margin-left: 15px; */
    margin: 3px 0px 0px 15px;   
}

p {
    font-size: 12px;
    line-height: 20px;
}

h2 {
    font-size: 24px;
}

.precios{
    font-size: 18px;
}

article p {
    font-size: 16px;
}

ul {
    padding: 0;
    list-style-type: none;
    
}

img {
    width: 100%;
}

input{
    margin-left: 15px;
    color: #666;
}

.burger-menu{
    text-align: center;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 5px;
    background-color: #1259c3;
}

.titulo-compra p{
    text-align: center;
    font-size: 16px;

}

.navbar-menup{
    margin-left: 15px;
}

